<section id="features" class="bg-white">
  <div class="container">
      <div class="section-content">
          <!-- Section Title -->
          <div class="title-wrap mb-5" data-aos="fade-up">
            <button type="button" class="btn btn-secondary btn-lg">New Project</button>
          </div>
          <!-- End of Section Title -->
          <div class="row">
              <!-- Features Holder-->
              <div class="col-md-10 offset-md-1 features-holder">
                  <div class="row">
                      <!-- Features Item -->
                      <div class="col-md-4 col-sm-12 text-center mt-4">
                          <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                              <div class="my-4">
                                  <i class="lnr lnr-cog fs-40"></i>
                              </div><br>
                              <a href="#" class="btn btn-secondary">Edit </a> 
                              <a href="#" class="btn btn-secondary">Delete </a>
                              <br>
                              <h4>Projet 1</h4>
                              
                              <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  Doing
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div><br>
                              <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  Done
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div><br>
                              <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header"> 
                                  To Do
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div>
                          </div>
                          <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                              <div class="my-4">
                                  <i class="lnr lnr-frame-contract fs-40"></i>
                              </div>
                             
                             
                          </div>
                      </div>
                      <!-- End of Feature Item -->
                      <!-- Features Item -->
                      <div class="col-md-4 col-sm-12 text-center">
                          <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                              <div class="my-4">
                                  <i class="lnr lnr-bubble fs-40"></i>
                              </div>
                              <a href="#" class="btn btn-secondary">Edit </a> 
                              <a href="#" class="btn btn-secondary">Delete </a>
                              <h4>Projet 2</h4>
                              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  Doing
                                </div> <br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div><br>
                              <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  Done
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div><br>
                              <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  To Do 
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div>
                          </div>
                          <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                              <div class="my-4">
                                  <i class="lnr lnr-magic-wand fs-40"></i>
                              </div>
                             
                          </div>
                      </div>
                      <!-- End of Feature Item -->
                      <!-- Features Item -->
                      <div class="col-md-4 col-sm-12 text-center mt-4">
                          <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                              <div class="my-4">
                                  <i class="lnr lnr-clock fs-40"></i>
                              </div>
                              <a href="#" class="btn btn-secondary">Edit </a> 
                              <a href="#" class="btn btn-secondary">Delete </a>
                              <h4>Projet 3</h4>
                              <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  Doing
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div><br>
                              <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  Done
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div><br>
                              <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-header">
                                  To Do
                                </div><br>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div>
                          </div>
                          <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                              <div class="my-4">
                                  <i class="lnr lnr-thumbs-up fs-40"></i>
                              </div>
                              
                          </div>
                      </div>
                      <!-- End of Feature Item -->
                  </div>
              </div>
              <!-- End of Features Holder-->
          </div>
      </div>
  </div>
</section>
