<section id="features" class="bg-white">
  <div class="container">
    <div class="section-content">
      <!-- Section Title -->
      <div class="title-wrap mb-5" data-aos="fade-up">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/workspace">New Project</button>
      </div>
      <!-- End of Section Title -->
      <div class="row">
        <!-- Features Holder-->
        <div class="col-md-10 offset-md-1 features-holder">
          <div class="row">
            <!-- Features Item -->
            <div class="col-md-4 col-sm-12 text-center mt-4" *ngFor="let projet of projects;">
              <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up" id="projet._id" >
                <div class="my-4">
                  <i class="lnr lnr-cog fs-40"></i>
                </div><br>
                <button class="btn btn-secondary" style="margin: 5px;">Edit </button>

                <button class="btn btn-secondary" style="margin: 5px;" (click)="delete(projet._id)">Delete </button>
                <br>
                <h4>{{projet.Title}}</h4>

                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                  <div class="card-header" >
                    To Do
                  </div><br>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>


                <br>
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                  <div class="card-header">
                    Doing
                  </div><br>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div><br>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                  <div class="card-header">
                    Done
                  </div><br>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>


            </div>
            <!-- End of Feature Item -->

          </div>
        </div>
        <!-- End of Features Holder-->
      </div>
    </div>
  </div>
</section>