
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right"
                data-aos-duration="800">
                <div class="post-content text-sm-right">
                    <h3><a href="#">Projet n°1</a></h3>
                    <p><a href="#">Description</a></p>
                    <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="post-thumb">
                    <img class="img-fluid" src="assets/images/post10.jpg" alt="Post 1">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left" data-aos-duration="800">
                <div class="post-thumb">
                    <img class="img-fluid" src="assets/images/post6.jpg" alt="Post 1">
                </div>
                <div class="post-content">

                    <h3><a href="#">Projet n°2</a></h3>
                    <p><a href="#">Description</a></p>
                    <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right"
                      data-aos-duration="800">
                      <div class="post-content text-sm-right">
                         
                          <h3><a href="#">Projet n°3</a></h3>
                          <p><a href="#">Description</a></p>
                          <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                      </div>
                      <div class="post-thumb">
                          <img class="img-fluid" src="assets/images/post10.jpg" alt="Post 1">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left" data-aos-duration="800">
                      <div class="post-thumb">
                          <img class="img-fluid" src="assets/images/post6.jpg" alt="Post 1">
                      </div>
                      <div class="post-content">
                          
                          <h3><a href="#">Projet n°4</a></h3>
                          <p><a href="#">Seanding</a>, <a href="#">Description</a></p>
                          <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>