
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right"
                data-aos-duration="800">
                <div class="post-content text-sm-right">
                    <h3><a href="#">Projet n°1</a></h3>
                    <p><a href="#">Description</a></p>                    
                        <a class="btn btn-primary" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                        
                    
                </div>
                <div class="post-thumb">
                    <img class="img-fluid" src="assets/images/post10.jpg" alt="Post 1">
                </div>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left" data-aos-duration="800">
                <div class="post-thumb">
                    <img class="img-fluid" src="assets/images/post6.jpg" alt="Post 1">
                </div>
                <div class="post-content">

                    <h3><a href="#">Projet n°2</a></h3>
                    <p><a href="#">Description</a></p>
                    <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right"
                      data-aos-duration="800">
                      <div class="post-content text-sm-right">
                         
                          <h3><a href="#">Projet n°3</a></h3>
                          <p><a href="#">Description</a></p>
                          <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                      </div>
                      <div class="post-thumb">
                          <img class="img-fluid" src="assets/images/post10.jpg" alt="Post 1">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left" data-aos-duration="800">
                      <div class="post-thumb">
                          <img class="img-fluid" src="assets/images/post6.jpg" alt="Post 1">
                      </div>
                      <div class="post-content">
                          
                          <h3><a href="#">Projet n°4</a></h3>
                          <p><a href="#">Seanding</a>, <a href="#">Description</a></p>
                          <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <br>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Project Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control"  >
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Category</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control"  aria-describedby="emailHelp" >
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Description</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input type="date" class="form-control"  aria-describedby="emailHelp" >
                  </div>
                </div>
                <hr>
               
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-primary" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Add Project</a>
                    
                  </div>
                </div>
              </div>
            