<div class="container">

  <div class="row">

    <div class="col-lg-6" *ngFor="let projet of projects;">
      <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right" data-aos-duration="800">
        <div class="post-content text-sm-right">
          <div class="row">
            <div class="row">
              <div class="col">
                <h3><a href="#">{{projet.Title}}</a></h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3><a href="#">{{projet.Description}}</a></h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a class="btn btn-primary" target="__blank"
                  routerLink="/addDetails/{{projet._id}}">Edit</a>
              </div>
            </div>
          </div>

        </div>
        <div class="post-thumb">
          <img class="img-fluid img" src="assets/images/post10.jpg" alt="Post 1">
        </div>
      </div>
    </div>
  </div>
  <div class="center">

    <div class="row" id="add">
      <br>

      <div class="card mb-3">
        <div class="card-body">
          <form #f="ngForm">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Project Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" name="name" [(ngModel)]="project.Title" required
                  placeholder="Project Name">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Category</h6>
              </div>
              <div class="col-sm-9 text-secondary">

                <select name="category" [(ngModel)]="project.Category" class="form-select">
                  <option value="" selected>choose a category</option>
                  <option value="informatique">informatique</option>
                  <option value="commerce">commerce</option>
                  <option value="mechanique">mechanique</option>

                </select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Description</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="description" placeholder="" [(ngModel)]="project.Description" required></textarea>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="date" class="form-control" aria-describedby="emailHelp" [(ngModel)]="project.FinishDate"
                  required name="date">
              </div>
            </div>
            <hr>
            <div class="{{alert}}">
              {{message}}
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" target="__blank" (click)="addProject()">Add
                  Project</button>

              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>


</div>